/* POLICES */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}

/* TITRES */
h1{
    color: white;
    font-size: 3em;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
}

h2{
    color: white;
    font-family: "Lato", sans-serif;
}

h3{
    color: #17abb3;
    font-family: "Lato", sans-serif;
}



/* BALISES COMMUNES */